* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

body {
    background-image: url("https://static.wixstatic.com/media/74de77_806e1e3a7b9f49869c14b5bad8bd279b~mv2_d_4896_3264_s_4_2.jpg/v1/fill/w_702,h_468,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/74de77_806e1e3a7b9f49869c14b5bad8bd279b~mv2_d_4896_3264_s_4_2.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    /* height: 100vh; */
   
}

#top-left {
    justify-content: flex-start;
 
}

#top-right {
    justify-content: flex-end;
   
}
#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}
#top-left, #top-right {
    display: flex;
    padding: 20px;
    gap: 10px;
    /* width: 25%; */
    color: black;
    align-items: center;
}

#overlay {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 300px;
    display: absolute;
    z-index: 10;
     
}

#time {
    display: relative;
    margin-top: 25%;
    margin-bottom: 5%;
    font-size: 7rem; /* Adjust size as needed */
    text-align: center;
    color:whitesmoke;
    
}

/* #text{
    display: absolute;
 } */

#greetings, #name {
    text-align: center;
    color: whitesmoke;
    font-size: 32px;
}

h3 {
    color: whitesmoke;
    text-align: center;
}

#text-input {
    border: none; /* Remove default borders */
    border-bottom: 2px solid whitesmoke; /* Add bottom border */
    outline: none; /* Remove outline on focus */
    padding: 10px 0 0; /* Add some vertical padding */
    font-size: 24px; /* Font size */
    width: 300px; /* Adjust width as needed */
    background-color: transparent;
    text-align: center;
    color: whitesmoke;
    position: relative;
    left: 50px;
}

#footer-container {
   position: fixed;
   display: inline; 
   bottom: 5%;
   text-align: center;
   width: 100%;
}

#quote {
    font-size: 12px;
    margin-bottom: 5px;
    font-style: italic;
    text-align: center;
    color: whitesmoke;
 
}